<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <title>TODO supply a title</title>
</head>

<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}"><img src="/src/main/resources/static/img/libros_logo.jpg" alt=""
                        width="90" height="" class="d-inline-block align-text-top">
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active font-weight-bold" aria-current="page" th:href="@{/}">Libreria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/inicio}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/cargas}">Carga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/listas}">Listas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/prestamos}">Prestamos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div th:if="${exito}!=null" class="card text-white bg-success mb-3">
        <div class="card-body">
            <h5 class="card-title">Exito</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>
    <div th:if="${error}!=null" class="card text-white bg-danger mb-3">
        <div class="card-body">
            <h5 class="card-title">Error</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <table id="tabla" class="table table-hover">
            <thead class="table-secondary">
                <tr>
                    <th>Nombre y apellido</th>
                    <th>Activo</th>
                    <th>Modificar</th>
                    <th>Alta/Baja</th>
                </tr>
            </thead>
            <tbody th:each="autor : ${autores}">
                <tr>
                    <td th:text="${autor. nombre}"></td>
                    <!-- Estas lineas son las de activo-->
                    <td>
                        <i th:if="${autor.alta}" class="fa fa-circle text-success"></i>
                        <i th:unless="${autor.alta}" class="fa fa-circle" style="color:red;"></i>
                    </td>
                    <!--le paso el id para modificar-->
                    <td><a th:href="@{/autor/modificarAutor/__${autor.id}__}" <button type="button"
                            class="btn btn-light">Modificar</button></a></td>
                    <td>
                        <a th:if="${autor.alta}" th:href="@{/autor/bajaAutor/__${autor.id}__}" <button type="button"
                            class="btn btn-outline-danger">Baja</button></a>
                        <a th:unless="${autor.alta}" th:href="@{/autor/altaAutor/__${autor.id}__}" <button type="button"
                            class="btn btn-outline-success">Alta</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a th:href="@{/listas}" <button class="btn btn-outline-primary me-md-2" type="button">Volver</button></a>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <figcaption class="blockquote-footer">
                Creador: <cite title="Source Title">Leonardo Nahuel Frias</cite>
            </figcaption>
            <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a th:href="@{/}" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a th:href="@{https://github.com/NahuelFrias}"
                        class="nav-link px-2 text-muted">GitHub</a></li>
            </ul>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
</body>

</html>